body{
    font-family: 'Varela Round', sans-serif;
}

#map {
    width: 100%;
    height: 400px;

}

/* Pysäkki asettelua alkaen tästä*/
table {
    width:500px;
    height:auto;
    border-spacing:0;
    border:1px solid #007ac9;
    background: #007ac9;
    border-radius: 5px;
    color: white;
}
th {
    height:auto;
    padding: 10px;
    text-align: left;
}
td{
    text-align: center;
}
#raide{
    padding: 10px;
}
#suunta{
    text-align: left;
    padding:10px;
}
.hidden{
    display: none;
}

.visible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
}

#vyohykeKuva{
    height: 25px;
    width: 160px;
    padding: 5px;
}

#navigoi{
    float: right;
    padding: 5px;
}

#pysakkicontainer{
    width: 500px;
    padding: 10px;
    background: #007ac9;
    color: white;
    border-radius: 5px;
}

#pysakkiNimi{
    padding: 5px;
}

#pysakkitxt{

    padding: 5px;
    float: right;
}

#pysakkiInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#pysakkidata {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
    color:#fed100 ;

}

#pysakkidata2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    margin-left: 10px;

}

#pysakkidata3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;

}

a{
    color:#fed100 ;
    text-decoration: none;
}
/*Pysäkkiasettelu päättyy*/
